ul{
    list-style: square;
    color: blue;
}
.card{
    border-top: 8px solid rgb(45, 45, 155);
}
.card-body{
    line-height: 24px;
}
.aboutpics {
    background-color: rgb(254, 254, 254);
    height: 120px;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    margin: 2px;
    border: 1px solid rgb(236, 233, 226);
    box-shadow: 2px 2px rgb(236, 233, 226);
    border-radius: 4px;
  }
  .aboutpics img {
    width: 80px;
    height: 80px;
  }
  .box-5 {
    position: sticky;
    top: 70px; /* Adjust as needed */
    padding: 10px;
}
    @media (max-width:3400px) and (min-width: 992px) {
        .box-5 {
           padding-left: 3.5rem;
        }
    }