body{
    background-color: rgb(214, 239, 255);
border: 2px solid rgb(214, 239, 255);
}

#form{
background-color: rgb(255, 255, 255);
width:25%;
border-radius: 4px;
margin:120px auto;
padding:50px;
box-shadow: 10px 10px 5px rgb(131, 182, 214);
}

#btn{
color:rgb(255, 255, 255);
background-color: rgb(131, 182, 214);
padding:5px;
font-size: large;
border-radius: 10px;
}

@media screen and (max-width: 570px) {
#form {
  width: 65%;
  margin-left:none;
  padding:40px;
}
}